/* BASIC ****************************************************** */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    min-height: 100% !important;
    height: auto;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

body,
main,
#root,
.App {
    height: auto;
    font-family: 'Manrope', sans-serif;
    color: hsl(260, 8%, 14%);
}


// * {
//     outline: 1px solid #f00 !important;
//     opacity: 1 !important;
//     visibility: visible !important;
// }


/* No hover effects on touch ***********************************/
@media (hover: hover) and (pointer: fine) {
    button:not(.pageBackBtn):hover {
        transition: ease-out;
        background: #FBAF85;
    }

    .pageBackBtn:hover {
        transition: ease-out;
        color: hsla(22, 65%, 57%, 1) !important;
    }

    .products__speaker {
        a:hover {
            button {
                transition: ease-out;
                background: hsla(0, 0%, 30%, 1);
                border-color: hsla(0, 0%, 30%, 1);
            }
        }
    }

    .products__speaker--2,
    .products__earphone {
        a:hover {
            button {
                transition: ease-out;
                color: white;
                background: hsla(0, 0%, 0%, 1);
            }
        }
    }
}


/* BASICS ****************************************************** */
.App {
    margin-top: 5rem;
    background: #FAFAFA;

    section {
        margin-bottom: 10rem;
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: 2px;
}

p {
    color: hsl(0, 0%, 50%);
    font-weight: 500;
    font-size: 1rem;
    line-height: 25px;
}

button {
    color: white;
    font-weight: 700;
    font-size: .9rem;
    line-height: 18px;
    letter-spacing: 1px;
    width: 160px;
    height: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #D87D4A;
}

.hr-div {
    width: 100%;
    height: auto;
    background: #191919;

    hr {
        max-width: 1125px;
        width: 100%;
        margin: 0 auto;
        border: 1px solid hsla(0, 0%, 100%, .1);
    }
}


.hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    color: white;
    width: 100%;
    gap: 1.29rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5rem 7rem;
    background: #191919 url('../Assets/home/desktop/image-hero.jpg') no-repeat top;
    background-size: 94%;
    background-position: center 80%;
}

.hero {
    * {
        max-width: 360px;
    }

    p {
        color: hsl(0, 0%, 75%);
    }

    span {
        color: hsl(0, 0%, 50%);
        font-weight: 400;
        font-size: 1rem;
        line-height: 19px;
        letter-spacing: 10px;
    }
}




.products {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 7rem;

    .products__speaker {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 2rem 3rem;
        color: white;
        width: 100%;
        height: 550px;
        padding: 4rem 4rem;
        overflow: hidden;
        border-radius: 5px;
        background-color: #D87D4A;
        background-image: url('../Assets/home/desktop/pattern-circles.svg');
        background-position: -225px 0px;
        background-repeat: no-repeat;
        background-size: cover;

        img {
            position: relative;
            top: -2.5rem;
            width: 45%;
            height: auto;
        }

        div {
            max-width: 300px;

            h2,
            p {
                margin-bottom: 1rem;
            }

            p {
                color: hsl(0, 0%, 90%);
            }
        }

        button {
            color: white;
            background-color: #191919;
        }
    }
}

.products {
    button {
        color: black;
        border: 1px solid black;
        background: transparent;
    }
}

.products {
    .products__speaker--2 {
        width: 100%;
        text-align: left;
        padding: 4rem 4rem;
        border-radius: 5px;
        background-image: url('../Assets/home/desktop/image-speaker-zx7.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        * {
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 2rem;
        }
    }
}

.products {
    .products__earphone {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem 3rem;
        height: 320px;

        img,
        div {
            flex: 1;
            height: 100%;
            min-height: 220px
        }

        img {
            object-fit: cover;
            border-radius: 5px;
        }

        h2 {
            font-size: 2rem;
        }

        div {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            gap: 2rem;
            padding: 0 0 0 4rem;
            border-radius: 5px;
            background-color: #F1F1F1;
        }
    }
}


.testimony {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 7rem;

    h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1.42857px;
    }

    img,
    div {
        flex: auto 50%;
        border-radius: 5px;
    }

    div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        max-width: 450px;

        span {
            color: #D87D4A;
        }
    }
}









/* MEDIA QUERIES ****************************************************** */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .hero,
    .catalogNav,
    .products,
    .testimony {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    h1,
    h2,
    h3,
    h4 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        letter-spacing: 1.28571px;
        text-transform: uppercase;
    }


    .hero {
        max-width: none;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        background: #191919 url('../Assets/home/mobile/image-header.jpg') no-repeat top;
        background-size: cover;
        background-position: center 90%;
    }


    .products {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;

        .products__speaker {
            justify-content: center;
            align-items: center;
            height: auto;
            max-height: fit-content;
            padding: 1rem 1rem 2rem 1rem;
            background-image: url('../Assets/home/desktop/pattern-circles.svg');
            background-position: center -120px;
            background-size: cover;
            background-repeat: no-repeat;
            overflow: visible;
            img{
                position: static;
                width: 70%;
                content: url('../Assets/home/mobile/image-speaker-zx9.png');
            }

            h2 {
                padding: 0 1rem;
            }
        }
    }


    .products {
        .products__speaker--2 {
            text-align: left;
            padding: 4rem 2rem;
            background-image: url('../Assets/home/mobile/image-speaker-zx7.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            h2 {
                font-size: 28px;
                text-align: left;
            }
        }
    }


    .products {
        .products__earphone {
            align-items: center;
            height: auto;

            img,
            div {
                height: 220px;
            }

            img{
                content: url('../Assets/home/mobile/image-earphones-yx1.jpg');
            }

            h2 {
                font-size: 28px;
                text-align: left;
            }

            div {
                justify-content: center;
                align-items: flex-start;
                gap: 1rem;
                padding: 0 2rem;
            }
        }
    }



    .testimony {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;

        h2 {
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            letter-spacing: 1px;
        }

        img{
            content: url('../Assets/shared/mobile/image-best-gear.jpg');
        }

        div {
            align-items: center;
            gap: 2rem;
            max-width: 100%;
        }
    }

}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 912px) {

    .hero,
    .catalogNav,
    .products,
    .testimony {
        padding-left: 2rem;
        padding-right: 2rem;
    }


    .hero {
        max-width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #191919 url('../Assets/home/tablet/image-header.jpg') no-repeat top;
        background-size: 100%;
        background-position: center 80%;
    }


    .catalogNav {
        flex-flow: row nowrap;
    }


    .products {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;

        .products__speaker {
            justify-content: center;
            align-items: center;
            height: auto;
            max-height: fit-content;
            padding: 2rem 1rem 2rem 1rem;
            background-image: url('../Assets/home/desktop/pattern-circles.svg');
            background-position: -225px 0px;
            background-size: cover;
            background-repeat: no-repeat;
            img{
                position: static;
                content: url('../Assets/home/tablet/image-speaker-zx9.png');
            }
            h2 {
                padding: 0 1rem;
            }
        }
    }


    .products {
        .products__speaker--2 {
            text-align: left;
            padding: 4rem 2rem;
            background-image: url('../Assets/home/tablet/image-speaker-zx7.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            h2 {
                font-size: 28px;
                text-align: left;
            }
        }
    }


    .products {
        .products__earphone {
            flex-flow: row nowrap;
            gap: 1rem;

            img,
            div {
                max-width: 50%;
                height: 100% !important;
            }

            img{
                content: url('../Assets/home/tablet/image-earphones-yx1.jpg');
            }

            h2 {
                font-size: 28px;
                text-align: left;
            }

            div {
                justify-content: center;
                align-items: flex-start;
                gap: 1rem;
                padding: 2.4rem 2rem;
            }
        }
    }



    .testimony {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;

        img,div{
            flex: 1 1 50%;
        }

        img {
            height: 300px;
            object-fit: cover;
            object-position: center 40%;
                content: url('../Assets/shared/tablet/image-best-gear.jpg');
        }

        div {
            align-items: center;
            gap: 2rem;
            max-width: 550px;
        }
    }
}


// Tablet Landscape
@media only screen and (min-width: 992px) and (max-width: 1180px) {
    .hero,
    .catalogNav,
    .products,
    .testimony {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }

    .hero{
        background: #191919 url('../Assets/home/tablet/image-header.jpg') no-repeat top;
        background-size: contain;
        background-position: 33rem -2rem;
    }

    .products {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;

        .products__speaker {
            justify-content: center;
            align-items: center;
            height: auto;
            max-height: fit-content;
            padding: 2rem 1rem 2rem 1rem;
            background-image: url('../Assets/home/desktop/pattern-circles.svg');
            background-position: -225px 0px;
            background-size: cover;
            background-repeat: no-repeat;
            img{
                position: static;
            }
            h2 {
                padding: 0 1rem;
            }
        }
    }


    .products {
        .products__speaker--2 {
            text-align: left;
            padding: 4rem 2rem;
            background-image: url('../Assets/home/tablet/image-speaker-zx7.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            h2 {
                font-size: 28px;
                text-align: left;
            }
        }
    }


    .products {
        .products__earphone {
            flex-flow: row nowrap;
            gap: 1rem;

            img,
            div {
                max-width: 50%;
                height: 100% !important;
            }

            h2 {
                font-size: 28px;
                text-align: left;
            }

            div {
                justify-content: center;
                align-items: flex-start;
                gap: 1rem;
                padding: 2.4rem 2rem;
            }
        }
    }


    .testimony {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;
        width: 100%;
        img,div{
            flex:none;
            width: 48%;
        }
        img{
            content: url('../Assets/shared/desktop/image-best-gear.jpg');
        }
    }
}



// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {}