/* BASIC ****************************************************** */
*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    min-height: 100% !important;
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}
body,
main,
#root,
#page-wrapper {
    height: 100%;
    font-family: 'Manrope', sans-serif;
    color: hsl(260, 8%, 14%);
}
*{
    font-family: 'Manrope', sans-serif;
}

// * {
//     outline: 1px solid #f00 !important;
//     opacity: 1 !important;
//     visibility: visible !important;
// }


/* No hover effects on touch ***********************************/
@media (hover: hover) and (pointer: fine) {
}


/* BASICS ****************************************************** */
.App{
    margin-top: 7rem;
    section{
        margin-bottom: 10rem;
    }
}

h1,h2,h3,h4{
    font-weight: 700;
    font-size: 3rem;
    line-height: 58px;
    letter-spacing: 2px;
}
p{
    color: hsl(0, 0%, 50%);
    font-weight: 500;
    font-size: 1rem;
    line-height: 25px;
}
button{
    color: white;
    font-weight: 700;
    font-size: .9rem;
    line-height: 18px;
    letter-spacing: 1px;
    width: 160px;
    height: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #D87D4A;
}


.Hero{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    width: 100%;
    height: auto;
    gap: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5rem 7rem;
    background: #191919 url('../Assets/home/desktop/image-hero.jpg') no-repeat top;
    background-size: contain;
}
.Hero{
    *{
        max-width: 360px;
    }
    span{
        color: hsl(0, 0%, 50%);
        font-weight: 400;
        font-size: 1rem;
        line-height: 19px;
        letter-spacing: 10px;
    }
}



.Products{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    .Products-img{
        filter: drop-shadow(0px 28px 26px #222);
    }
    p{
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: hsl(0, 0%, 50%);
        :first-child{
        padding-left: 10px;
        }
    }
    .special{
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 1.28571px;
        text-transform: uppercase;
        color: black;
    }
    a{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        width: 100%;
        gap: 1rem;
        padding: 0 0 1.5rem 0;
        border-radius: 5px;
        background-image: url('../Assets/cart/Mask.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100% 80%;
    }
}




.Products-2{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 7rem;
    .speaker{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        color: white;
        width: 100%;
        height: 560px;
        padding: 4rem 4rem;
        border-radius: 5px;
        background-color: #D87D4A;
        background-image: url('../Assets/home/desktop/image-speaker-zx9.png'), url('../Assets/home/desktop/pattern-circles.svg');
        background-position: 20% 84px, -225px 0px;
        background-repeat: no-repeat, no-repeat;
        background-size: 410.23px 493px, cover;
        div{
            max-width: 355px;
            *{
                margin-bottom: 1rem;
            }
        }
        p{
            color: hsl(0, 0%, 90%);
        }
        button{
            color: white;
            background-color: #191919;
        }
    }
}
.Products-2{
    .speaker-2{
        width: 100%;
        text-align: left;
        padding: 4rem 2rem;
        border-radius: 5px;
        background-image: url('../Assets/home/desktop/image-speaker-zx7.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        *{
            margin-bottom: 1rem;
        }
    }
}

.Products-2{
    .earphone{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        width: 100%;
        img, div{
            flex: 0 1 48%;
        }
        img,div{
            border-radius: 5px;
        }
        div{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            gap: 2rem;
            height: 320px;
            padding: 0 0 0 4rem ;
            background-color: #F1F1F1;
        }
    }
}

.testimony{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 7rem;
    img, div{
        flex: 0 1 48%;
    }
    img{
        border-radius: 5px;
    }
    div{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        span{
            color:#D87D4A;
        }
    }
}

/* MEDIA QUERIES ****************************************************** */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 912px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}