.catalogNav{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem 2rem;
  width: 100%;
  .catalogNav__img{
      filter: drop-shadow(0px 28px 16px rgba(34, 34, 34, .4));
      .catalogNav__img--special{
        width: 145px;
      }
  }
  p{
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 1px;
      color: hsl(0, 0%, 40%);
      :first-child{
      padding-left: 10px;
      }
  }
  .catalogNav__p--special{
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1.28571px;
      color: black;
  }
  a{
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      max-width: 350px;
      max-height: 200px;
      width: 100%;
      height: 100%;
      gap: 1rem;
      padding: 0 0 1.5rem 0;
      border-radius: 5px;
      background-image: url('../Assets/cart/Mask.png');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% 80%;
  }
}




/* MEDIA QUERIES ****************************************************** */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .catalogNav{
      padding-left:1.5rem;
      padding-right:1.5rem;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 912px) {
  .catalogNav{
      padding-left:2rem;
      padding-right:2rem;
  }
  .catalogNav{
    flex-flow: row nowrap;
  }
  .catalogNav__img--special{
    width: 145px;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px ) and (max-width: 1180px) {
  .catalogNav{
      padding-left:2rem;
      padding-right:2rem;
      gap: 5rem 1rem;
  }
  .catalogNav{
    flex-flow: row nowrap;
  }
  .catalogNav__img{
    max-width: 82px;
  }
  .catalogNav__img--special{
    max-width: 95px !important;
  }
}

