/* No hover effects on touch ***********************************/
@media (hover: hover) and (pointer: fine) {
  a:hover{
    transition: .15s ease-out;
    color: #D87D4A;
  }
  .nav__cartBtn{
    color: initial !important;
    background-color: transparent !important;
  }
}



/* BASICS ****************************************************** */
a{
  color: white;
  text-decoration: none;
}
nav{
  padding: 0 8rem;
}


.navContainer{
  position: fixed;
  top: 0;
  width: 100%;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  overflow-y: auto;
  background: hsla(0, 0%, 0%, .4);
}


.navMenu--Off{
  display: none !important;
}
.navContainer--Off{
  width: 100%;
  height: auto;
  background:none;
}

.nav__cartBtn{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  span{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%,-100%);
    color:#D87D4A;
    font-weight: 700;
    font-size: .6rem;
    z-index: 10;
  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
  }
}


nav{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  column-gap: 2rem;
  color: white;
  background: #121212;
  z-index: 10;
  ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.5rem;
  }
  .nav__logoContainer{
    gap: 0;
    button{
      display: none;
    }
  }
  button{
    width: 40px;
    height: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
  }
}


.navMenu{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem 2rem;
  width: 100%;
  height: auto;
  z-index: 10;
  padding: 4rem 2rem;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10rem;
  .navMenu__img{
    filter: drop-shadow(0px 28px 16px rgba(34, 34, 34, .4));
    :last-child{
      width: 145px;
    }
  }
  p{
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    color: hsl(0, 0%, 40%);
    :first-child{
    padding-left: 10px;
  }
  }
  .navMenu__p--special{
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1.28571px;
      color: black;
  }
  a{
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      max-width: 350px;
      max-height: 200px;
      width: 100%;
      height: 100%;
      gap: 1rem;
      padding: 0 0 1.5rem 0;
      border-radius: 5px;
      background-image: url('../Assets/cart/Mask.png');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% 80%;
  }
}




/* MEDIA QUERIES ****************************************************** */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav{
    padding: 0 2rem;
    column-gap: 1rem;
  }
  .nav__logoContainer{
    gap: 1rem !important;
    button{
      display: initial !important;
    }
  }
  .nav__links{
    display: none;
  }

  .navMenu{
    ul{
      flex-wrap: wrap;
    }
    a{
      max-width: 300px !important;
    }
  }
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 912px) {
  nav{
    padding: 0 4rem;
  }
  .nav__logoContainer{
    gap: 2.5rem !important;
    button{
      display: initial !important;
      width: 50px;
    }
  }
  .nav__cartBtn{
    width: 50px;
  }
  .nav__links{
    display: none;
  }
  .navMenu{
    flex-flow: row nowrap;
    padding: 4rem 2rem;
    .navMenu__img{
      max-width: 82px;
    }
    .navMenu__img--special{
      max-width: 95px;
    }
    
  }
}


@media only screen 
and (min-width: 600px) 
and (max-width: 1180px)
and (orientation: landscape) {
  .nav__cartBtn{
    width: 50px;
  }
}